# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# OS Crap
._*
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
[Dd]esktop.ini